@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Androidfonte';
    src: url('../fontes/idroid.otf') format('opentype');
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, VErdana, Helvetica, sans-serif;
    --fonte-destaque: font-family: 'Bebas Neue', cursive;
    --font-android: 'Androidfonte', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}



header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
    font-weight: bold;
}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.521);
}
nav{ 
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.357);
}
nav a {
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.781);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    border-radius: 0px 0px 10px 10px;
}

main h1{
    font-family: var(--font-android);
    color: var(--cor5);
}

main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.4em;
}
main a {
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 6px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.911);
}

main a:hover{
    color: var(--cor3);
    text-shadow: 1px 0px 0.3px black;
}

main strong{
    color: var(--cor4);
    font-weight: bold;   
}

main img{
    width: 100%;
}

main img.pequena{
    min-width: 200px;
    max-width: 330px;
    display: block;
    margin: auto;
}

<<<<<<< HEAD
main div.video{
    text-align: center;
}

=======
main aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.616);

}

aside > ul {
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
>>>>>>> 056c207b91216f5fc2e97b06448eb69e91356360

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: var(--cor1);
    text-decoration: none;
}

footer a:hover{
    color: var(--cor3);
    text-shadow: 1px 0px 0.3px black;
    text-decoration: underline;
}
